<div class="latest-posts">
    <a routerLink="/">
        <div class="post d-flex align-items-center">
            <div class="image"><img src={{posts[0].featuredImage}} alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{posts[0].title}}</strong><span
                    class="date last-meta">{{posts[0].postDate}}</span></div>
        </div>
    </a>
    <br>
    <a routerLink="/">
        <div class="post d-flex align-items-center">
            <div class="image"><img src={{posts[1].featuredImage}} alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{posts[1].title}}</strong><span
                    class="date last-meta">{{posts[1].postDate}}</span></div>
        </div>
    </a>
    <a routerLink="/">
        <div class="post d-flex align-items-center">
            <div class="image"><img src={{posts[2].featuredImage}} alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{posts[2].title}}</strong><span
                    class="date last-meta">{{posts[2].postDate}}</span></div>
        </div>
    </a>
</div>